{% extends "form_div_layout.html.twig" %}


{% block roles_widget %}


    <h2>Je suis : {{ form.vars.data[0]  }} !</h2>

    {{- block('form_widget') -}}

{% endblock roles_widget %}


{% block user_order_widget %}
    {{- block('form_widget') -}}

    <script>
        function changeColor(){

            for (let i = 0 ; i < 6 ; i++)
            {
                radio = document.getElementById('user_order_discount_'+i);
                if (radio.checked)
                {
                    let color = "#BBBB00";
                    switch(radio.value){
                        case '0': color = '#AA0000';
                            break;
                        case '5': color = '#BB0000';
                            break;
                        case '10': color = '#CC0000';
                            break;
                        case '15': color = '#DD0000';
                            break;
                        case '30': color = '#EE0000';
                            break;
                        case '50': color = '#FF0000';
                            break;
                    }
                    document.getElementById('user_order_discount').style.backgroundColor = color;                }
            }
        }
    </script>
{% endblock user_order_widget %}