{% extends "bootstrap_4_layout.html.twig" %}

{% block roles_widget %}
    <h1>Coucou</h1>
    @todo pour apprendre a personnaliser c'est par  <a href="https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig">ICI</a> :)

    {{- block('form_widget') -}}

{% endblock roles_widget %}