{% extends "form_div_layout.html.twig" %}

{% block roles_widget %}
    <h1>Coucou</h1>
    @todo pour apprendre a personnaliser c'est par  <a href="https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_4_layout.html.twig">ICI</a> :)

    {{- block('form_widget') -}}

{% endblock roles_widget %}

{% block quality_widget %}

    {{- block('form') -}}

    <div id="color-quality">
        Ma belle couleur
    </div>

    <script>
        function changeColor(value){
            console.log(value);
            let color = '#FFFFFF';
            switch(value){
                case "5": color = 'orange';
                    break;
                case "3": color = 'purple';
                    break;
                case "2": color = 'blue';
                    break;
                case "-1": color = 'grey';
                    break;
            }
            document.getElementById('color-quality').style.backgroundColor = color;
        }
    </script>

{% endblock quality_widget %}