{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <div class="panel">
        <h1 class="title">Tester son code</h1>
    </div>

    <div class="panel">
        <h2>1 - Implementer tous les tests sur l'action shootTheSherif et les services concernés.</h2>
    </div>

    <div class="panel">
        <h2>2 - Modifier l'action shootTheSheriff pour prendre en compte le fais de ne pas pouvoir tirer sur une personne morte et qu'une personne morte = 0PV</h2>
        <h2>3 -Modifier les tests !</h2>
    </div>

    <div class="panel">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <br/>
        <br/>
        <br/>
    </div>
{% endblock %}