{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <div class="panel">
        <h1>07/12/2018</h1>
        <h2>Finalisation login/register/création User</h2>
        <h2>Création de mon premier FormType simple</h2>
        <h2>Modifier un formulaire au run time</h2>
        <h2>Formulaire non mapper</h2>
        <h2>Les voter ( Kesako ? )</h2>
        <h2>Mon premier object metier ( services )</h2>
    </div>
    <hr><hr>
    <div class="panel">
        <h1>@Todo</h1>
        <h2>
            0 - Dès que vous signer la feuille de présence merci d'aller renseigner ceci merci :
            <a target="_blank" href="https://docs.google.com/spreadsheets/d/18rUwrf02Cm55P_YbT1tUWUW2YCU76mz98n_zPr09QMs/edit?usp=sharing">List</a>
        </h2>
        <h2>
            1 - Modifier le formulaire de Item pour qu'il soit directement attribué à l'utilisateur connecté à la création.
        </h2>
        <h2>
            2 - Un item ne peut être vu/modifier/supprimer que par son propriétaire ou par l'admin.
        </h2>
        <h2>
            3 - Seul la quantité peut être modifier lors de la modification d'un item.
        </h2>
        <h2>
            4 - Lors d'un enregistrement d'utilisateur/register création de la quantité max en random entre 200 et 500.
        </h2>
        <h2 style="color: brown;">
            5 - Modification d'itemType (form) lors d'un ajout direct avec l'ItemType pour qu'il soit directement set
        </h2>
        <h2 style="color: brown;">
            6 - Créer une régle de validation qui ne permet pas de dépasser le poids max d'un utilisateur.
        </h2>
    </div>

    <div class="panel">
        <h1>18/12/2018</h1>
        <h2>inscription groupe discord : <a target="_blank" href="https://discord.gg/rHJVnpZ">Discord :)</a></h2>
        <h2>Finalisation du tp du 07</h2>

        <h2>Comment je gére les fichiers</h2>
        <h2>Comment je personnalise un champ</h2>
    </div>
    <hr><hr>
    <div class="panel">
        <h1>@Todo</h1>
        <h2>Gerer la photo de l'utilisateur</h2>
        <ul>
            <li>Création d'un champ personnaliser pour l'image de l'utilisateur et gestion de l'upload de cette photo</li>
            <li>Validation largeur max 500 / hauteur max 500 et poids max 500Ko</li>
            <li>Gerer les droits de modification de cette photo par l'utilisateur et par le role ADMIN</li>
        </ul>
        <h2>Personnaliser le formulaire à l'edition et la modification de l'image de l'utilisateur</h2>
    </div>
{% endblock %}