{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <div class="panel">
        <h2>le ...</h2>
    </div>


    <div class="panel">

    </div>

    <div class="panel">
        <h2>Tp du jour</h2>

    </div>

{% endblock %}