{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <div class="panel">
        <h1>Correction TP Blanc</h1>
    </div>

    <div class="panel">
        <h2>@ vous</h2>
        <h2>
            1 - Créer une fonction pour ranger son armes actives.<br/>
            2 - Créer une fonction pour redonner de la vie à un joueur ( meme sois meme et pas plus que pv max )<br/>
            3 - Modifier la fonction shoot pour donner des pourcentage de miss<br/>
            4 - Créer / Modifier la fonction shoot pour pouvoir tirer à vide ( => sur personne )<br/>
            5 - Gerer le fait que l'on ne puisse plus tirer sur une personne morte !<br/>
        </h2>
    </div>

    <div class="panel">

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <br/>
        <br/>
        <br/>
    </div>
{% endblock %}