{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <div class="panel">
        <h2>Tp Final</h2>
        <h2>A rendre en Pull request( Github) / ou merge request ( forge)</h2>
        <h2>Donc vous : tpfinal sur moi : tpfinal</h2>
        <h2>Donc merci de Fork si c'est toujours pas fait</h2>
        <h2 class="active">Si non rendu en PR ou MR c'est 0</h2>
        <h2>une question = 1 commit ! => Donc 20 commit</h2>
        <h2>MCD : <a target="_blank" href="https://docs.google.com/drawings/d/1CKee2N4dFxXHKZAvHP-ldRzP3S70VaA7h92vpKaQdak/edit">ici</a></h2>
        <h2><span class="pt">Bonne change à tous/toute et que la force soit avec vous !</span></h2>
    </div>


    <div class="panel">
        <h2><a href="{{ path('user_characters_index') }}">Mes personnages</a></h2>
    </div>


    <div class="panel">
        <h2 style="color: green;"><span class="pt">1.1</span>- Sécuriser les controllers UserCharacters et Game pour le ROLE_USER et User, Role, et Character pour le ROLE_ADMIN<span class="point">0.5pt</span></h2>
        <h2 style="color: green;"><span class="pt">1.2</span>- Optimiser la vue de UserCharacters:index pour que tous les liens accesbile qu'au ROLE_ADMIN sois visible par le ROLE_ADMIN<span class="point">0.5pt</span></h2>
        <h2 style="color: green;"><span class="pt">1.3</span>- Modification de la vue de UserCharacters:index : ajouter le role de chaque personnage dans le tableau des personnages<span class="point">0.5pt</span></h2>
        <h2 style="color: green;"><span class="pt">1.4</span>- Modification de l'action UserCharacters:index : pour que les données passées à la  vue soit celles de l'utilisateur connecté<span class="point">0.5pt</span></h2>
        <h2 style="color: green;"><span class="pt">1.5</span>- Modification de UserCharacters:index: pour que la liste de personnages soit triée par role et par nom dans l'ordre croissant<span class="point">0.5pt</span></h2>
        <h2 style="color: green;"><span class="pt">1.6</span>- Modification de la vue de UserCharacters:index : ajouter le nom du character et son role dans le tableau de UserChracter<span class="point">0.5pt</span></h2>
        <h2 style="color: green;"><span class="pt">2.1</span>- Ajouter une image à Character: Gestion de l'import et affichage dans la liste de personnage ( characters:index et userCharacters:index )<span class="point">1.5pt</span></h2>
        <h2 style="color: green;"><span class="pt">2.2</span>- Création et mise en place d'une contrainte de validation pour que l'on ne puisse pas avoir 2 fois le même nom sur Characters<span class="point">0.5pt</span></h2>
        <h2 style="color: green;"><span class="pt">3.1</span>- Modification du formulaire UserCharactersType:new pour que seul le champs Character sois visible ( Default = false, Favorite = false, date = now et user set) mais les champs doivent toujours etre disponible pour les ROLE_ADMIN<span class="point">1.5pt</span></h2>
        <h2 style="color: green;"><span class="pt">3.2</span>- Création et mise en place d'une contrainte de validation pour que l'on ne puisse pas avoir 2 fois un UserCharacter avec le même User et le même Character<span class="point">1pt</span></h2>
        <h2><span class="pt">3.3</span>- Création d'un FormType pour Characters qui liste tous les Character que n'a pas encore jouer l'utilisateur et l'utiliser dans UserCharactersType<span class="point">1.5pt</span></h2>
        <h2 style="color: green;"><span class="pt">4.1</span>- Modification du label du bouton de GameType pour qu'il sois égal en création à "Créer une partie" et en edition à "Modifier la partie"<span class="point">0.5pt</span></h2>
        <h2 style="color: green;"><span class="pt">4.2</span>- Modification de GameType pour lors du clic sur "Créer une partie", le formulaire sois automatiquement setter ( Date = now, tous les champs à 0 et userCharacter setter )<span class="point">0.5pt</span></h2>
        <h2 style="color: green;"><span class="pt">4.3</span>- Créer le voter pour sécuriser GameContoller et l'utiliser pour restreindre l'accés à ses méthodes seulement aux ROLE_ADMIN et/ou à l'utilisateur de UserCharacter<span class="point">1.5pt</span></h2>
        <h2 style="color: green;"><span class="pt">5.1</span>- Création d'un service pour ajouter la fonction shoot. ( 20% de chance de faire un kill et 50% de chance de faire 100 damage ) Attention si KILL alors Damage<span class="point">1.5pt</span></h2>
        <h2><span class="pt">5.2</span>- Tester le service<span class="point">2.5pt</span></h2>
        <h2><span class="pt">5.3</span>- Ajouter un callback au service pour avertir l'utilisateur de l'action et traduire son contenu<span class="point">1.5pt</span></h2>
        <h2><span class="pt">5.4</span>- Modifier les tests<span class="point">1pt</span></h2>
        <h2><span class="pt">6.1</span>- Créer la fonction endGame en utilisant les subscribers( Mettre game:endGame = true et le UserCharacters:default = true) attention seulement 1 seul UserCharacter:default peux être à true<span class="point">3pt</span></h2>
        <h2><span class="pt">7.1</span>- Créer une commande "intéractive" pour lister les matchs d'un utilisateur par son email<span class="point">1.5pt</span></h2>
        <h2><span class="pt">7.2</span>- Créer une commande qui lance un  evenement qui supprime tous les matchs( avec les listeners )<span class="point">2pt</span></h2>
    </div>

{% endblock %}
