{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <div class="panel">
        <h1>Tester son code</h1>
    </div>

    <div class="panel">
        <h2>composer require --dev symfony/phpunit-bridge</h2>
        <h2>composer require --dev symfony/browser-kit symfony/css-selector</h2>
        <h2>./bin/phpunit</h2>
    </div>

    <div class="panel">
        <h2>Le handler ou comment enlever le code du controler</h2>
        <h2>Lancer les test au commit</h2>
        <h2>Tester son code</h2>
    </div>

    <div class="panel">
        <h2>Tester ses services !</h2>
        <h2>Unload weapon</h2>
        <h2>Heal user</h2>
        <h2>Shoot</h2>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <br/>
        <br/>
        <br/>
    </div>
{% endblock %}