{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <div class="panel">
        <h2>Les events  => listener - dispatcher</h2>
        <h2>Qu'est ce que c'est ?</h2>
        <h3>Différence :</h3>
        <h3>Les listeners peuvent être activé/désactivé dans la config. </h3>
        <h3>Les subscribers ont toute la logique dans leur classe, ils sont plus flexible</h3>
        <h3>Désavantages des subscribers , c'est qui sont tous chargés en cache alors que le listener est chargé lors de son appel.</h3>
    </div>

    <div class="panel">
        <h2>Listener</h2>
        <h2>namespace =  App\EventListener</h2>
        <h2>Exemple : <a href="https://symfony.com/doc/current/reference/events.html" target="_blank">ici</a></h2>
        <h2>Exemple concret : User Create</h2>
    </div>

    <div class="panel">
        <h2>Subscriber</h2>
        <h2>namespace =  App\EventSubscriber</h2>
        <h2>Exemple : <a href="#" target="_blank"></a></h2>
    </div>

    <div class="panel">
        <h2>Tp du jour</h2>
        <h2></h2>
    </div>

{% endblock %}