{% extends 'base.html.twig' %}

{% block title %}Edit Weapon{% endblock %}

{% block body %}
    <h1>Edit Weapon</h1>

    {{ include('weapon/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('weapon_index') }}">back to list</a>

    {{ include('weapon/_delete_form.html.twig') }}
{% endblock %}
