{% extends 'base.html.twig' %}

{% block title %}New WeaponUser{% endblock %}

{% block body %}
    <h1>Create new WeaponUser</h1>

    {{ include('weapon_user/_form.html.twig') }}

    <a href="{{ path('weapon_user_index') }}">back to list</a>
{% endblock %}
