{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <h1>Create new Game</h1>

    {% if team is defined %}
        <h2>{% trans with {'%team%': team.name} %}game.new.choiceopponent{% endtrans %}</h2>
    {% endif %}

    {{ include('game/_form.html.twig') }}

    <a href="{{ path('game_index') }}">back to list</a>
{% endblock %}
