{% extends 'base.html.twig' %}

{% block title %}Edit Bet{% endblock %}

{% block body %}
    <h1>Edit Bet</h1>

    {{ include('bet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bet_index') }}">back to list</a>

    {{ include('bet/_delete_form.html.twig') }}
{% endblock %}
