body {
    background-color: lightgray;
}
h1{
    color: purple;
}
h2{
    color: blue;
}
h3{
    color: black;
}
h4{
    color: red;
    font-size: 40px;
    font-weight: 900;
}
span.point{
    color: darkcyan;
    font-size: 20px;
}
span.pt{
    color: yellow;
    font-size: 20px;
}
.panel{
    padding: 20px;
    margin: 20px;
    border: 2PX SOLID rebeccapurple;
}

li{
    color: chocolate;
    font-size: 20px;
}

h2.active{
    color: red;
    font-size: 24px;
    font-weight: 900;
}