{% extends 'base.html.twig' %}

{% block title %}Edit UserCharacters{% endblock %}

{% block body %}
    <h1>Edit UserCharacters</h1>

    {{ include('user_characters/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_characters_index') }}">back to list</a>

    {{ include('user_characters/_delete_form.html.twig') }}
{% endblock %}
