{% extends 'base.html.twig' %}

{% block title %}Edit UserOrder{% endblock %}

{% block body %}
    <h1>Edit UserOrder</h1>

    {{ include('user_order/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_order_index') }}">back to list</a>

    {{ include('user_order/_delete_form.html.twig') }}
{% endblock %}
