{% extends 'base.html.twig' %}

{% block title %}New UserOrder{% endblock %}

{% block body %}
    <h1>Create new UserOrder</h1>

    {{ include('user_order/_form.html.twig') }}

    <a href="{{ path('user_order_index') }}">back to list</a>
{% endblock %}
