<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block menu %}
            {% include 'menu.html.twig' %}
        {% endblock %}

        {% block message %}
            {% include 'message.html.twig' %}
        {% endblock message %}

        {% block body %}{% endblock %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
