{% block message %}
    {% for message in app.flashes('error') %}
        <div class="callout alert">
            <h6 class="text-center">{{ message }}</h6>
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="callout success">
            <h2 class="text-center" style="color: #2ca02c;">{{ message }}</h2>
        </div>
    {% endfor %}
{% endblock message %}